#def-title{
    font-size: 75px;
}
p{
    font-size: 20px;
}
#info-resources{
    font-size: 20px;
}
#info-resources a{
    color:purple;
}
#national-cyber li{
    list-style: none;
    padding: 20px;
}
#current-threats-feed{
    border: 1px solid var(--accent-light);
    font-size: 30px;
}
#current-threats-feed p{
    font-size:15px;
    color: rgb(54, 54, 54);
}
#info-resources{
    padding: 20px;
}
#info-resources a{
    font-size: 10px;
}
#small_name{
    display: inline;
}

#large_name{
    display: none;
}
/* Laptop style size */
@media only screen and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1){

   

  
}



/* desktop styles*/
@media only screen and (min-device-width: 1600px){
    /*--- main page style-- */
    #info-resources a{
        font-size: 25px;
    }
    #info-resources li{
        margin-bottom: 25px;
    }

    .name_card{
        padding: 20px;
        background-color: var(--back-color);
        margin-right: 50px;
    }
    .name_card h1{
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 120px;
        text-shadow: 5px 5px var(--back-color2);
    }
    #small_name{
        display: none;
    }

    #large_name{
        display: block;
    }
}