
#staff_page img{
    height: 100px;
}
p{
    font-size: 20px;
}
.staff_display{
    border: 2px solid black;
}


/* Laptop style size */
@media only screen and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1){

    #staff_page img{
        height: 150px;
        margin-left: 25px;
    }
    
    
    .staff_label h2, p{
        font-size: 15px;
    }
  
}

@media only screen and (min-device-width: 1600px){
    
    .staff_label{
        width:300px;
    }
    #staff_page img{
        height: 200px;
    }
    
    
}
